@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ol,ul,form, pre,th,td,input,textarea,select{
	margin:0;padding:0;
}
body{color: #333333;font-family:arial,"宋体";}
li{
	list-style:none;
}

img{
	border:none;
}

a{text-decoration:none;
	border: none; -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;}
 a img {  	
 border:none;
}
a,input,button{ outline:none; }
::-moz-focus-inner{border:0px;}

.fl{
	float: left;
}
.fr{
	float: right;
}
.dn{display: none;}
.cb{clear: both;}
input{border: 0;}
.psr{position: relative;}
.mt65{margin-top:.65rem;}
.mt4{margin-top: .4rem;}
.mt5{margin-top: .5rem;}
.mt55{margin-top: .55rem;}
.ml4{margin-left: .4rem;}
.ml65{margin-left:.65rem;}
/****************清除浮动****************************/
.cfx:before, .cfx:after { content: ""; display: table; }
.cfx:after { clear: both; }
.cfx { zoom: 1; }