@charset "utf-8";
/*资金流向样式*/
.body1{background-color:#ea7656;font-size: 0;}
.flow-head{width:100%;height:6.2rem;position: relative;}
.flow-head .f-bg img,.flow-head .f-word img{width: 100%;height: 100%;}
.flow-head .f-word{width:9rem;height:4.2rem;position: absolute;top:1.1rem;left:3.5rem}
 .btn{width: 95%;margin:0 2.5%;height:2rem;border-radius:0.4rem;margin-bottom: .44rem;font-size:0.7rem;text-indent:.7rem;}
 .sbmit{background: #ee3232;text-align: center;font-size:0.81rem;line-height: 2rem;color:white;font-weight: bold;}
 .f-section{width: 100%;height:3.8rem;position: relative;} 
.f-section img{width:9rem;height:2.4rem;position: absolute;left: 3.5rem;top:.9rem;}
.f-introduce1{width:90%;border-radius:.2rem;background-color:#fdcd85;margin-left:2.5%;padding:.6rem 2.5%;line-height:1rem;word-break: break-all;overflow: hidden;}
.f-introduce1 h2{font-size: .71rem;text-align: center;}
.f-introduce1 p{font-size: .56rem;text-indent:1.4rem;color: #333;}
.flow-footer{margin-top: 1rem;width: 100%;margin-bottom: 0;}
.flow-footer img{height:1.77rem;width: 100%;}
/*利弗莫尔F点结果页*/
.body2{background-color:#ebebeb;font-size: 0;}
.rf-head{width:100%;height:3.1rem;background-color: #fff;padding: .2rem 0;display: -webkit-box;display: -moz-box;}
.rf-head .rf-k1{border-right:1px solid #CCCCCC;width: 8rem;height:3.1rem;-webkit-box-flex: 6;-moz-box-flex: 6;text-align: center;}
.rf-head .rf-k1 h3{font-size: .8rem;margin-top: .5rem;}
.rf-head .rf-k1 p{font-size: .56rem;margin-top: .3rem;}

.rf-head .rf-k2{width: 8rem;height:3.1rem;-webkit-box-flex: 6;-moz-box-flex: 6;text-align: center;}
.rf-head .rf-k2 .uparrow{font-size: .75rem;color:#e62222;margin-top: .5rem;}
.rf-head .rf-k2 .uparrow img{height:.65rem;width:.43rem;margin-right: .2rem;}
.rf-head .rf-k2 p span{font-size: .56rem;color: #084692;margin-top: .4rem;}

.rf-content{width:14.7rem;background-color: #fff;padding: .65rem;margin-top: .36rem;}
.rf-content .rf-tt{width: 100%;border-bottom: 1px solid #CCCCCC;line-height: 1.15rem;}
.rf-content p .rf-title{font-size:.65rem;}
.rf-content p .rf-time{font-size:.5rem;color: #666;}
.rf-content .rf-pic{width: 14.7rem;}
.rf-content .rf-pic img{width: 100%;}
.rf-content .rf-pic .rf-show{font-size: .65rem;line-height: 1.1rem;text-indent:1.3rem;word-break: break-all;margin-top: .65rem;}
.rf-pic .gantan{width:14.7rem;position: relative;height: 1.3rem;margin-top: .4rem;}
.rf-pic .rf-tip{font-size: .5rem;line-height: .9rem;color:#ed4242;position: absolute;left: 1rem;top:0rem;width: 13.7rem;}
.rf-pic .gantan img {width: .6rem;height: .56rem;position: absolute;left:0;top:.1rem;}
/*股票诊断结果页*/
.body3{background-color:#ebebeb;font-size: 0;}
.rr-head{width:100%;height:3.1rem;background-color: #e62222;padding: .2rem 0;display: -webkit-box;display: -moz-box;color: #fff;}
.rr-head .rr-k1{border-right:1px solid #fff;width: 8rem;height:3.1rem;-webkit-box-flex: 6;-moz-box-flex: 6;text-align: center;}
.rr-head .rr-k1 h3{font-size: .8rem;margin-top: .5rem;}
.rr-head .rr-k1 p{font-size: .56rem;margin-top: .3rem;}
.rr-head .rr-k2{width: 8rem;height:3.1rem;-webkit-box-flex: 6;-moz-box-flex: 6;text-align: center;}
.rr-head .rr-k2 .uparrow{font-size: .75rem;margin-top: .5rem;}
.rr-head .rr-k2 .uparrow img{height:.65rem;width:.43rem;margin-right: .2rem;}
.rr-head .rr-k2 p span{font-size: .56rem;margin-top: .4rem;}
.y_bottom {width: 100%;height:2.13rem;background:#e62222;font-size:0.42rem;color: white;text-align: center;}
.y_bottom .left{height:2.13rem;width:33.3%;float: left;padding-top: 0.53rem;}
.y_bottom  span{font-weight: bold;font-size:0.512rem;}
.y_bottom .mid{height:2.13rem; width:33.3%;float:left;padding-top:0.53rem;}
.y_bottom .right{height:2.13rem;width:33.3%;float: left;padding-top: 0.53rem;text-align: center;}
.bot_text{height:8rem;width:15.5rem;background:white;margin-top: 0.42rem;padding-left:0.50rem;font-size: 0.55rem;
}
.bot_text .title{height: 1.92rem;border-bottom:solid 1px #ebebeb;font-size: 0.6.2rem;line-height:1.92rem;}
.bot_text .content{padding-top:0.5rem;}
.bot_text .content span{color: #3560dc;}
/*//产品*/
.s_foot{position: relative;background-color:#fff;margin-top: 0.42rem;width: 14.7rem;padding:.65rem;padding-top:0 ;}
.s_foot .bottom_text{height:4rem;width:15rem;font-size: 0.55rem;}
.s_foot .bottom_text img{width: 100%;height:100%;}
.s_foot .title{position: absolute;top:.6rem;left:.5rem;width:15.5rem;height: 1.52rem;border-bottom:solid 1px #ebebeb;font-size: 0.6.2rem;line-height:1.92rem;}
.s_foot .title .b_img{height: .76rem;width:0.76rem;display:inline-block;float: left;}
.s_foot .title .tex{float: left;font-size: 0.85rem;line-height: .85rem;height: .76rem;display: inline-block;margin-left: .4rem;}
.s_foot .content_tex{margin-top: -1.5rem;width:14.7rem;word-break: break-all; word-wrap:break-word;font-size:.65rem;line-height: 1rem;}
/*//体验？*/
.topbg{width: 100%;height: 6.8rem;}
.topbg img{width: 100%;height: 100%;}
.top_title{height:1.92rem;width:100%;background: white;}
.top_title .b_img{margin: 0.72rem;width: 0.72rem;height:0.65rem;display: block;float: left;}
.top_title .tex{margin: 0.72rem;height:0.65rem;display: block;float: left;font-size: 0.65rem;line-height: 0.65rem;margin-left: 0;}
.top_title .zixun{margin: 0.72rem;height:0.65rem;display: block;float: left;font-size: 0.65rem;line-height: 0.65rem;font-weight: bold;}
.top_title .zixun span {font-size:0.5rem;font-weight: normal;}
.y-head{width:100%;height:3.1rem;background-color:white;padding: .2rem 0;display: -webkit-box;display: -moz-box;margin-bottom:0.4rem ;}
.y-head .rr-k1{border-right:1px solid #ccc;width: 8rem;height:3.1rem;-webkit-box-flex: 6;-moz-box-flex: 6;color: #000;font-weight:bold;text-align: center;}
.y-head .rr-k1 h3{font-size: .8rem;margin-top: .5rem;}
.y-head .rr-k1 p{font-size: .56rem;margin-top: .3rem;}
.y-head .rr-k2{width: 8rem;height:3.1rem;-webkit-box-flex: 6;-moz-box-flex: 6;text-align: center;position: relative;}
.y-head .rr-k2 .uparrow{font-size: .75rem;margin-top: .5rem;color:#e62e2e;font-weight: bold;}
.y-head .rr-k2 .uparrow img{height:.65rem;width:.43rem;margin-right: .2rem;}
.y-head .rr-k2 p span{font-size: .56rem;margin-top: .4rem;color:#e62e2e;}
.y-head .rr-k2 .x_img{width: 0.42rem;height: 0.76rem;position: absolute;top:1rem;left: 6.5rem;}
.y-head .rr-k2 .x_img img{width: 100%;height: 100%;}
.yx_foot{width:14.7rem;padding:.4rem .65rem;}
.yx_foot .b_img{width: 0.72rem;height:0.65rem;display: block;float: left;}
.yx_foot .tex{height:5.5rem;display: block;float: left;font-size: 0.65rem;margin-left:.4rem;width: 13rem;
word-break: break-all;overflow: hidden;}

.rr-content{width:14.7rem;padding: .65rem;margin-top: .36rem;position: relative;background: #fff;}
.rr-content .question{position: absolute;width: 1.1rem;height: 1.1rem;right:.95rem;top:.65rem;}
.rr-content .question img{width: 100%;height: 100%;}
.rr-content .lieda{width:14.7rem;margin-top: 1.89rem;}
.rr-content .lieda img{width: 100%;height: 100%;}
.rr-content .data-circle{width:14.7rem;margin-top:.2rem;}
.rr-content .data-circle dl{width:3.85rem;padding: .8rem 2rem 0 1.5rem;float: left;}
.rr-content .data-circle dt {width:3.85rem;height: 3.85rem;}
.rr-content .data-circle dt img{width: 100%;height: 100%;/*margin-left: 1.37rem;*/}
.rr-content .data-circle dd{text-align: center;}
.rr-content .data-circle dd:nth-of-type(1){font-size:.6rem;color: #333;line-height: 1rem;}
.rr-content .data-circle dd:nth-of-type(2){font-size: .56rem;color:#666;line-height: .65rem;}
.rr-content .mark-box{width:13.4rem;background: rgba(0,0,0,.8);color: #fff;font-size: .55rem;padding: .65rem;border-radius: .2rem;position: absolute;top:2.5rem;left:.65rem;}
.rr-content .mark-box p{line-height: .9rem;}
/*.rr-content pre{width: .9rem;height: .9rem;background: rgba(0,0,0,.8);transform:rotate(45deg);
-ms-transform:rotate(45deg); 	
-moz-transform:rotate(45deg); 	
-webkit-transform:rotate(45deg); 
-o-transform:rotate(45deg);position: absolute;right: .4rem;top:-0.45rem;}*/

.rr-content pre{position: absolute;right:0rem;top:-0.45rem;border-bottom: .9rem solid #333;border-right: .9rem solid transparent;border-left: .9rem solid transparent;}
.rr-mask1{width: 100%;height:100%;position:fixed; top: 0px;background: rgba(0,0,0,0.7);z-index:9999;left: 0px;}
.rr-mask1 .qus-mark{top:14.5rem;position: absolute;left:3.38rem;width: 4.7rem;height: 3.08rem;}
.rr-mask1 .qus-mark img{width: 100%;height: 100%;}
