body{font-size:12px;}
.bg1{height: 33px;background: #000000;width: 100%;}
.head{height: 33px;background: #000000;width:960px;margin:auto;}
.head div{line-height:33px;color: white;}
.text_l{float: left;margin-left:7px;}
.text_r2{float: right;margin-right: 22px;}
.text_r3{float: right;margin-right:7px;}
.bg2{height:90px;background: #f2f2f2;width: 100%;}
.bg2 .section2{height:100%;width:960px;margin:auto;}
.bg2 .section2 .band_left{float: left;display: block;}
.bg2 .section2 .yanbao{float: right;font-size:16px;line-height: 90px;font-weight: bold;color: #616161;}
.bg3{height: 560px;background: #2b8bd9;width: 100%;}
.bg3 .section3{width: 1110px;height: 100%;margin: auto;position: relative;}
.bg3 .section3 .tap  {width:170px;height: 148px;position:absolute;left: 514px;top: 20px;}
.bg3 .section3 .tap  div{height:27px;width: 170px;border-radius:20px;background: white;color: #2b8bd9;
text-align: left;padding-left: 22px;margin-bottom: 5px;font-size: 14px;font-weight:500;line-height: 27px;}
.bg3 .section3 .tap .opt{display: none;cursor: pointer;}
.bg3 .section3 .tap .tap_head img{position: absolute;left: 159px;top:4px;cursor: pointer;}
.bg3 .section3 .index1,.bg3 .section3 .index2,.bg3 .section3 .index3{display: none;}
.bg3 .section3 .content{height: 100%;width: 100%;}
.bg3 .section3 .content .left_img{float: left;display: block;}
.bg3 .section3 .content .all_text{width: 520px;height: 100%;float: right;margin-right:73px;}
.section3 .content .title{margin-top: 100px;color: white;font-size: 46px;font-weight: bold;}
.section3 .content .date{margin-top: 37px;font-size: 16px;line-height: 30px;height: 30px;float: left;
color: white; width: 119px;border-right: solid 2px #fff;}
.section3 .content .show{float: left;margin-top:29px;margin-left: 20px;}
.bdsharebuttonbox .qq{background: url(../img/logo_05.png);display: block;height: 30px;width: 30px;padding: 0;}
.bdsharebuttonbox .sina{background: url(../img/logo_07.png);display: block;height: 30px;width: 30px;padding: 0;}
.bdsharebuttonbox .weix{background: url(../img/logo_03.png);display: block;height: 30px;width: 30px;padding: 0;}
.section3 .content .line{border-bottom: solid 3px #6baee4;margin-top:24px;}
.section3 .content .txt{height:60px;width: 100%;margin-top: 16px;font-size: 14px;line-height: 30px;color: white;font-weight:bold;}
.section3 .content .btn_img{margin-top: 20px;position: relative;}
.section3 .content .btn_img .l{cursor: pointer; position: absolute;width: 154px;height: 40px;left:4px;top: 14px;font-size: 14px;font-weight:bold;text-align: center;line-height: 40px;color: white;}
.section3 .content .btn_img .r{cursor: pointer; position: absolute;width: 154px;height: 40px;left:195px;top: 14px;font-size: 14px;font-weight:bold;text-align: center;line-height: 40px;color: white;}
.section3 .more{width: 84px;height: 57px;font-size:14px;color: white;text-align: center;
font-weight: bold;margin-top:83px;position: absolute;left: 504px;top:408px;}
.section3 .more .tx{cursor: pointer;}
.section3 .more img{margin-top: 5px;cursor: pointer;}
